#root,
body,
html {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container h1 {
  text-align: center;
  border-bottom: 2px solid #000;
}

.info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  flex: 1;
  gap: 8px;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.buttons-container button {
  width: calc(100vw / 6);
  aspect-ratio: 1 / 1;
  margin: 8px auto;
  border-radius: 50%;
  border: 1px solid #000;
  transition: 0.2s all;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
}

.buttons-container button:disabled {
  border: 1px solid #999;
}

.card {
  border: 1px solid #666a;
  border-radius: 4px;
  height: min-content;
  padding: 4px;
}

.card > span,
.card > p {
  white-space: nowrap;
}
